DATABASE_HOST=
DATABASE_PORT=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=

RAILS_MASTER_KEY=

API_BASE_URL=
FRONTEND_URL=
API_VERSION=

STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

MAILER_FROM=
MAILER_HOST=
MAILER_PORT=
MAILER_USERNAME=
MAILER_PASSWORD=
