.search-container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.search-bar {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 650px;

    padding: 14px 22px;

    background: #FAF6EF;
    border: 2px solid #CCD7B3;

    border-radius: 40px;

    box-shadow: 0 6px 18px rgba(0,0,0,0.08);
}

.search-icon {
    color: #58174C;
    font-size: 22px;
    margin-right: 12px;
}

.search-bar input {
    flex: 1;

    border: none;
    outline: none;

    background: transparent;

    font-size: 16px;
}